* {
    margin: 0;
    padding: 0;
    font-family: cairo;
}

.card {
    border-radius: 1.5rem;
    margin-bottom: 10px;
}

.btn:hover,
.btn:focus {
    background-color: #111;
    border-color: #000646;
}

img {
    max-width: 100%
}


/* start nav */

nav svg {
    color: #3bade6;
}

nav .navbar-toggler:focus {
    box-shadow: none;
}

nav img {
    height: 60px
}

.btn {
    background-color: #233142;
}

.works h2 {
    padding: 10px 0;
    border-right: 3px solid #57b7e6;
}


/* end nav */


/* start our-works */

.our-project {
    padding: 20px;
    background-image: url(../imgs/bg30-Ar1web.gif);
}

.our-work {
    margin: 40px 40px 0 40px;
}

.our-work .card {
    position: relative;
}

.our-work .card a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.our-work img {
    border-radius: 1.5rem
}

.our-work .card {
    margin: 20px
}


/* end our-works */


/* start page-nav */

.page-nav {
    height: 60px
}

.page-nav ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
}


/* end page-nav */


/* start footer */

.footer {
    background-image: url(../imgs/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer .row {
    padding-top: 50px;
}

.icon {
    font-size: 30px;
    margin: 10px -55px 0 5px;
}

.icon a {
    padding: 10px;
}

@media screen and (max-width:990px) {
    .footer .row {
        text-align: center;
        align-items: center;
    }
    .footer .w img:only-child {
        max-width: 300px;
        padding: 50px;
    }
}


/* end footer */